.DiscoverExplore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 12.5rem;
}

.DiscoverExplore > p:first-child{
    font-size: 14px;
    font-weight: 600;
    color: #293FCC;
    background-color: #E9EDFF;
    width: fit-content;
    padding: 0.625rem 1.25rem;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    text-align: center;
}

.DiscoverExplore h2{
    font-weight: 600;
    font-size: 30px;
    color: #090F4E;
    text-align: center;
    margin: 2.5rem 0rem 1.25rem 0rem;
}

.DiscoverExplore > p:last-of-type{
    font-weight: 400;
    font-size: 18px;
    color: #63657E;
    text-align: center;
    margin: 0 auto 60px auto;
    max-width: 75%;
    line-height: 1.6;
}

.dashboard{
    width: 70%;
    height: auto;
    z-index: 1;
    border-radius: 25px;
}

.minigraph{
    width: 20%;
    height: auto;
    position: absolute;
    bottom: 5.3rem;
    left: 0rem;
    z-index: 2;
    border-radius: 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}