*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Poppins;
    font-size: 18px;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

html{
    background: linear-gradient(180deg,rgba(225, 232, 252, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 70%, rgb(255, 255, 255) 100%);
    margin: 0px auto;
}

.navbar{
    margin: 0.75rem 10rem 0.75rem 10rem;
}

nav{
    display: flex;
    justify-content: space-between;
    
}
.nav-logo{
    justify-content: flex-start;
    margin: 1rem;
}

.nav-list-box{
    display: flex;
    justify-content: flex-end;
}

.nav-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav-list a{
    color: #090F4E;
    text-decoration: none;
}

#sidebar-active{
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    padding: 0 20px;
    display: none;
}

.try-button{
    padding: 0.7rem 2.93rem 0.7rem 2.93rem;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    background-color: #293FCC;
    font-weight: 500;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5rem 5rem 5rem 5rem;
    gap: 3.33rem;
}

.header-content-left{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

.welcome-message-01{
    font-size: 14px;
    font-weight: 600;
    color: #293FCC;
    background-color: #F8FAFF;
    width: fit-content;
    padding: 0.55rem 1.11rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.44rem;
}

.welcome-message-02{
    color: #090F4E;
    font-size: 44px;
    font-weight: 600;
    width: 24.22rem;
    height: 11.67rem;
}

.welcome-message-03{
    color: #63657E;
    font-size: 16px;
    font-weight: 400;
    width: 24.72rem;
    height: 5.33rem;
}

.try-demo-button{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.demo-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.44rem;
    color: #0B0757;
    font-size: 16px;
    font-weight: 400;
    border: none;
    background-color: transparent;
    width: 7.78rem;
}

.header-content-right{
    position: relative;
    flex-basis: 40%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-3D-human{
    width: 20.94rem;
    height: 20.94rem;
    background-color: #B9CCFE;
    z-index: 1;
    border-radius: 30px;
    margin: 0 auto;
}

.human-3D{
    position: absolute;
    top: -7.78rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: auto;
    height: 28.65rem;
    max-width: 100%;
}

.header-noti-01{
    position: absolute;
    top: -0.7rem;
    left: 3rem;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
}

.header-noti-01-avatar{
    width: 2.22rem;
    height: 2.22rem;
    position: absolute;
    top: -1.11rem;
    right: 5.56rem;
}

.header-noti-01 div{
    background-color: #FFFFFF;
    width: 6.61rem;
    height: 3.33rem;
    border: none;
    border-radius: 0.17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.22rem;
}

.header-noti-01 div p{
    font-size: 12px;
    font-weight: 600;
    color: #090F4E;
    margin: 0;
}

.header-noti-01 div img{
    width: 4.44rem;
    height: auto;
}

.header-noti-02{
    position: absolute;
    top: 10rem;
    right: 5rem;
    z-index: 3;
    display: flex;
    align-items: center;
    gap: 0.67rem;  
    background-color: #FFFFFF;
    padding: 0.67rem 0.89rem;
    border-radius: 0.67rem;
}

.header-noti-02 img{
    width: 2.22rem;
    height: 2.22rem;
    border-radius: 50%;
    object-fit: cover;
}

.header-noti-02 .header-noti-02-detail p:first-child{
    color: #535783;
    font-weight: 600;
    font-size: 14px;
}

.header-noti-02 .header-noti-02-detail p{
    color: #8589AE;
    font-size: 13px;
    font-weight: 600;
}

.header-noti-02 div:last-child{
    background-color: #904CFF80;
    color: #FFFFFF;
    width: 1.33rem;
    height: 1.33rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    margin-left: auto;
}

.header-noti-02 div:last-child p{
    margin: 0;
    color: #FFFFFF;
}

.header-noti-03{
    position: absolute;
    top: 15rem;
    left: 8%;
    z-index: 3;
    display: flex;
    align-items: center;
    gap: 0.67rem;
    background-color: #FFFFFF;
    padding: 0.67rem 0.89rem;
    border-radius: 0.67rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 13.67rem;
}

.header-noti-03 img{
    width: 1.78rem;
    height: 1.78rem;
    object-fit: cover;
}

.header-noti-03 div{
    display: flex;
    flex-direction: column;
    gap: 0.22rem;
}

.header-noti-03 div p{
    margin: 0;
    font-size: 12px;
}

.header-noti-03 div p:first-child{
    font-size: 13px;
    font-weight: 500;
    color: #858A8F;
}

.header-noti-03 div p:last-child{
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    font-size: 11px;
}

.header-footer{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin: 10rem auto;
}



@media screen and (max-width: 1024px) {

    .links-container{
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0%;
        z-index: 10;
        background-color: gainsboro;
        width: 10rem;
        height: auto;
        padding: 0.5rem;
    }

    .nav-list{
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
        width: 100%;
    }

    .open-sidebar-button, .close-sidebar-button{
        display: inline-block;
    }

    #sidebar-active:checked ~ .links-container{
        display: flex;
        background-color: transparent;
    }

    .header-content{
        flex-direction: column-reverse;
        justify-content: center;
    }

    .header-content-left{
        margin: 5rem 5rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .header-footer img:last-child{
        display: none;
    }

    .welcome-message-02,
    .welcome-message-03{
        justify-content: center;
        text-align: center;
        width: auto;
        height: auto;
    }

    .box-3D-human{
        width: 16.56rem;
        height: 16.56rem;
    }

    .human-3D{
        top: -12rem;
    }

    .header-noti-01{
        top: 0rem;
        left: 7rem;
        transform: scale(0.9);
    }

    .try-demo-button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 2rem;
    }
    

    .header-footer {
        display: flex;
        gap: 2rem;
    }

    .header-footer img:last-child{
        display: none;
    }
}